@import '../../../variables.scss';

.ingredients{
    padding: 30px 5px 30px 5px;
    color: $brown;
    h2{
        text-align: start;
        margin-bottom: 15px;
    }
}

.list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.item{
    width: 130px;
    text-align: center;
    margin: 20px 10px;
}
