@import '../../../variables.scss';

.result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > div{
        margin-bottom: 50px;
    }
}

.error{
    text-align: center;
    padding: 20px;
    color: $brown;
    font-weight: 400;
}

.load__btn{
    width: 160px;
    height: 45px;
    text-align: center;
    background: $pink;
    border-radius: 45px;
    margin-bottom: 20px;
    color: $brown;
}