.app{
    width: 100%;
    padding: 0px 0px 80px 0px;
}

.page{
    width: 100%;
    &-enter {
        opacity: 0;
        transform: scale(1.1);
    }
    
    &_enter_active {
        opacity: 1;
        transform: scale(1);
        transition: opacity 300ms, transform 300ms;
    }
    
    &_exit {
        opacity: 1;
        transform: scale(1);
    }
    
    &_exit_active {
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 300ms, transform 300ms;
    }
}